:root {
    --bg-color: black;
    --color: white;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', monospace !important;
    color: var(--color);
    background-color: var(--bg-color);
}

.hide {
    display: none !important;
}

.light {
    font-weight: 300 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.medium {
    font-weight: 500 !important;
}

.container {
    padding: 3% 4%;
    height: 75%;
}

.navbar ul {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
}

.navbar li a:hover {
    color: rgb(133, 133, 133);
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: flex-start; */
    justify-content: end;
}

.about {
    padding-left: 14px;
}

.content {
    font-size: 3rem;
    align-self: flex-start;
    line-height: 4.5rem;
}

.content p {
    margin: 0px;
}

.name {
    font-size: 1.2rem;
    align-self: flex-end;
}

.name p {
    margin: 0px;
}

.projects a {
    text-decoration: none;
    color: rgb(0, 142, 161);
}

.projects a:hover {
    text-decoration: none;
    color: rgb(125, 199, 199);
}

.projects {
    padding-top: 30px;
}

.mobile-container {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }
    .mobile-container {
        display: block;
        /* height: 100%; */
        padding: 8%;
    }
    .head {
        font-weight: 500;
        font-size: 1.4rem;
    }
    .head p {
        margin: 0px;
    }
    .mob-about {
        font-size: 1.7rem;
        line-height: 3rem;
        padding-top: 16%;
    }
    .projects {
        padding-top: 15%;
    }
    /* bottom nav */
    .bottom-navbar {
        background-color: var(--bg-color);
        overflow: hidden;
        /* position: absolute; */
        bottom: 0;
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
        padding-top: 36%;
    }
    .bottom-navbar a {
        float: left;
        display: block;
        color: var(--color);
        text-align: center;
        text-decoration: none;
        font-size: .75rem;
    }
    .bottom-navbar a:hover {
        color: rgb(133, 133, 133);
    }
    .bottom-navbar a.active {
        background-color: #4CAF50;
        color: var(--color);
    }
}