:root {
    --bg-color: black;
    --color: white;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', monospace !important;
    color: var(--color);
    background-color: var(--bg-color);
}

.hide {
    display: none !important;
}

.light {
    font-weight: 300 !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.medium {
    font-weight: 500 !important;
}

.container {
    padding: 3% 4%;
    height: 75%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: var(--color);
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-weight: 600;
    font-size: .85rem;
    letter-spacing: .2rem;
}

.rohil {
    font-size: 1.3rem !important;
}

.menu-item {
    padding-left: 6%;
}

.navbar li a:hover {
    color: rgb(133, 133, 133);
}

.active {
    color: rgb(133, 133, 133) !important;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: flex-start; */
    justify-content: flex-end;
}

.flex-container-contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: flex-start; */
    justify-content: space-between;
}

.content {
    font-size: 3rem;
    align-self: flex-start;
    line-height: 4.5rem;
    padding-bottom: 3%;
}

.content p {
    margin: 0px;
}

.contact {
    font-size: 2rem;
    display: grid;
    align-self: flex-start;
    justify-self: first baseline;
    line-height: 3rem;
    padding-top: 10%;
}

.contact p {
    margin: 0px;
}

.name {
    font-size: 1.2rem;
    /* align-self: flex-end; */
    display: flex;
    justify-content: space-between;
}

.name p {
    margin: 0px;
}

.projects a {
    text-decoration: none;
    color: rgb(0, 142, 161);
}

.projects a:hover {
    text-decoration: underline;
    color: rgb(125, 199, 199);
}

.mobile-container {
    display: none;
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }
    .mobile-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 88%;
        padding: 5%;
    }
    .head {
        font-weight: 500;
        font-size: 1.4rem;
    }
    .head p {
        margin: 0px;
        padding-bottom: 8%;
    }
    .mob-about {
        font-size: 1.7rem;
        line-height: 3rem;
    }
    .mob-contact {
        font-size: 1.5rem;
        line-height: 2.8rem;
        padding-bottom: 40%;
    }
    .mob-projects a {
        text-decoration: none;
        color: rgb(0, 142, 161);
    }
    .mob-projects a:hover {
        text-decoration: none;
        color: rgb(125, 199, 199);
    }
    .mob-projects {
        /* padding-top: 6%; */
        padding-bottom: 6%;
    }
    /* bottom nav */
    .bottom-navbar {
        background-color: var(--bg-color);
        overflow: hidden;
        /* position: absolute; */
        bottom: 0;
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
    }
    .bottom-navbar a {
        color: var(--color);
        text-align: center;
        text-decoration: none;
        font-size: .75rem;
    }
    .bottom-navbar a:hover {
        color: rgb(133, 133, 133);
    }
}